/* Write your custom CSS here */
.errorMessage{
    color : red;
}

#rootwizard .nav.nav-tabs{
    border-bottom:none;
}

#rootwizard .nav.nav-tabs {
    float: none;
    width: 100%;
}

#rootwizard .nav.nav-tabs li{
    width: 50%;
}

#rootwizard .nav.nav-tabs > li > a{
    border: 1px solid #dddddd;
    margin-right:0px;
}
#wizardForm .tab-content {padding: 15px 0px;background: none;}

.select2-container-multi .select2-choices:hover {
    border: 1px solid #551a8b;
    border-radius: 1%;
} 

.facility .nav.nav-tabs{
    border-bottom:none;
}

.facility .nav.nav-tabs {
    float: none;
    width: 100%;
}

.facility .nav.nav-tabs li{
    width: 25% !important;
}

.facility .nav.nav-tabs > li > a{
    border: 1px solid #dddddd;
    margin-right:0px;
}
#wizardForm .tab-content {padding: 15px 0px;background: none;}

.select2-container-multi .select2-choices:hover {
    border: 1px solid #551a8b;
    border-radius: 1%;
} 



.panel-white #add-icon-dv a.btn-primary{ background: #9932cc none repeat scroll 0 0;
                                         color: #fff;
                                         float: left;
                                         font-size: 14px;
                                         margin-left: 5px;
                                         text-decoration: none;
}
.panel-white #add-icon-dv a.btn-primary:hover{ background: #fff none repeat scroll 0 0;
                                               color: #9932cc;
                                               border:1px solid #9932cc;
                                               float: left;
                                               font-size: 14px;
                                               margin-left: 5px;
                                               text-decoration: none;
}  
.panel-heading #add-icon-dv a.btn-primary:hover{ background: #fff none repeat scroll 0 0;
                                                 color: #9932cc;
                                                 border:1px solid #9932cc;
                                                 float: left;
                                                 font-size: 14px;
                                                 margin-left: 5px;
                                                 text-decoration: none;
}   
.panel-heading #add-icon-dv a.btn-primary{ background: #9932cc none repeat scroll 0 0;
                                           color: #fff;
                                           float: left;
                                           font-size: 14px;
                                           margin-left: 5px;
                                           text-decoration: none;
}


.grid-view .table-striped a.btn-danger {
    background-color: #e14444;
    border-color: transparent;
    color: #fff;
}
.grid-view .table-striped a.btn-danger:hover {
    background-color: #fff;
    border: 1px solid #f25656;
    color: #f25656;
}


#nav_tol_tp {width: 1px;height: 1px;}

.required1{
    color:red;
}

.demo_image{

    min-height: 500px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 500px !important;

}

.demo_image img {
    height: 400px;
    width: 400px;
    margin-top: 50px;
}